<section id="about-section" class="pt-5 pb-5">
  <div class="container wrapabout">
    <div class="red"></div>
    <div class="align-items-center justify-content-center d-flex mb-5 mb-lg-0">
      <div class="blockabout">
        <div class="blockabout-inner text-center text-sm-start">
          <div class="title-big pb-3 mb-3">
            <h3>ABOUT ME</h3>
          </div>
          <p class="description-p text-muted pe-0 pe-lg-0">
            Hi, I'm Kiet, a data engineer with 2 years of experience in building and maintaining data pipelines and
            infrastructure. As a student, I am constantly learning and improving my skills in data engineering, and am
            eager to
            apply my knowledge to real-world challenges. </p>
          <div class="sosmed-horizontal pt-3 pb-3">
            <a href="https://www.facebook.com/the.kietuanguyen/"><i class="fa fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/the-kietuanguyen/"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/KieTuaNguyen"><i class="fa fa-github"></i></a>

          </div>
          <a href="https://github.com/KieTuaNguyen/Clouding_Assigment2" class="btn rey-btn mt-3">Source Code</a>
        </div>
      </div>
    </div>
  </div>
</section>